@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 5px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
input {
  border-radius: 20px;
  width: 70px;
  padding: 10px;
  outline: none;
}
.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
}
/* .App > * {
  margin: 10px;
} */
.container {
  width: 50vw;
  height: 30px;
  border-radius: 40px;
  border-style: none;
  background-color: #cdcdcd;
  color: red;
  position: relative;
  z-index: -1;
}
.innerContainer {
  height: 28px;
  display: grid;
  border-style: none;
  place-items: center;
  border-radius: 20px;
  margin: auto;
  background: linear-gradient(to left, #f2709c, #ff9472);
  box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #f2709c;
  color: white;
  position: absolute;
  transition: 1.5s ease 0.3s;
  z-index: 100;
}

.progress {
  height: 20px;
  background-color: gray;
  border: 1px solid black;
  border-radius: 30px;
}

.progress-container {
  width: 250px;
}
